@import "tailwindcss";

@theme {
  --color-primary-50: #edf4ff;
  --color-primary-100: #dfeafd;
  --color-primary-200: #c6d8fa;
  --color-primary-300: #a0bcf4;
  --color-primary-400: #7598ea;
  --color-primary-500: #5274de;
  --color-primary-600: #3954cc;
  --color-primary-700: #2e43ba;
  --color-primary-800: #263697;
  --color-primary-900: #243277;
  --color-primary-950: #0d265c;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
